@import "variables";
@import "node_modules/bulma/bulma";

body {
	-webkit-overflow-scrolling: touch;
}

.tap-recorder {
	height: 40vh;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center
}

.progress-transition {
	transition: width 5s ease;
}

.slide-enter-active {
  transition: all .2s ease;
}
.slide-leave-active {
  transition: all .2s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.slide-enter, .slide-leave-to  {
  transform: translateX(100%);
  opacity: 0;
}

.shake {
	animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
